
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="dev" class="org.Rushabh.Dev" autowire="byName">
<!--    <property name="age" value="17"/>-->
<!--    <constructor-arg value="20"/>-->
<!--    <property name="Laptop" ref="lap1" />-->
<!--    <constructor-arg ref="lap1"/>-->
<!--    <property name="comp" ref="desk1"/>-->
</bean>
    <bean id="desk1" class="org.Rushabh.Desktop"></bean>
    <bean id="comp" class="org.Rushabh.Laptop"></bean>
</beans>